*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: rgb(24, 44, 87);

}

.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-family: san-francisco, sans-serif;
}

.logo-platzi-contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logo-platzi{
    height: 75px;
}

.contenedor-principal{
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




